@tailwind base;
@tailwind components;
@tailwind utilities;

/* #head {
  color: aquamarine;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.logo {
  width: 200px;
  height: 100px;
}

.nav-items {
  display: flex;
  text-decoration: none;
}

.nav-items > ul > li {
  display: flex;
}

.nav-items > ul {
  gap: 10px;
  text-decoration: none;
  display: flex;
  font-size: 30px;
  margin: 10px;
  padding: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.MuiPaper-root {
  margin: 10px;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  width: 350px;
}

.filter {
  margin: 10px !important;
  background-color: blueviolet !important;
}

.login {
  background-color: blueviolet !important;
  color: white !important;
}

.shimmer-cards {
  display: flex;
  flex-wrap: wrap;
}

.search {
  margin: 10px !important;
} */
